<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <ion-title> Social App </ion-title>
      <div class="bar-btns-div">
        <ion-col class="feed-btn" id="noti-btn"
          ><ion-button
            (click)="clearNotification()"
            id="click-trigger"
            class="circle"
            fill="clear"
            ><ion-icon
              name="notifications-outline"
              size="large"
            ></ion-icon></ion-button
          ><ion-badge class="notification-badge" color="danger">{{
            this.count
          }}</ion-badge>
          <ion-popover
            trigger="click-trigger"
            triggerAction="click"
            [dismissOnSelect]="true"
          >
            <ng-template>
              <ion-content class="notification-list">
                <ion-list *ngFor="let n of notifArr">
                  <ion-item>{{ n["title"] }}</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
        <ion-col class="feed-btn"
          ><ion-button class="circle" fill="clear"
            ><ion-icon name="person-circle" size="large"></ion-icon></ion-button
        ></ion-col>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="post-input-box">
    <ion-card-header>
      <ion-card-title>New Post</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea
        placeholder="Write anything ..."
        [(ngModel)]="postContent"
      ></ion-textarea>
    </ion-card-content>

    <ion-button fill="clear" (click)="post()">Post</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>New Feeds</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
    <ng-container *ngFor="let p of postsArr; let i = index">
      <ion-card-content class="card-container">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img
                class="post-image"
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
              />
            </ion-thumbnail>
            <ion-label>User</ion-label>
          </ion-item>
          <ion-card-content> {{ p["post"] }} </ion-card-content>
          <ion-grid class="feed-btns-container">
            <ion-row>
              <ion-col class="feed-btn"
                ><ion-button (click)="likePost(p)" class="circle" fill="clear"
                  ><ion-icon
                    *ngIf="!p['liked']"
                    name="thumbs-up-outline"
                    size="small"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="p['liked']"
                    name="thumbs-up"
                    size="small"
                  ></ion-icon></ion-button
              ></ion-col>
              <ion-col class="feed-btn"
                ><ion-button (click)="editPost(p)" class="circle" fill="clear"
                  ><ion-icon
                    name="create-outline"
                    size="small"
                  ></ion-icon></ion-button
              ></ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-card-content>
          <div class="comment-container">
            <div class="comment-input">
              <ion-label>Comment</ion-label>
              <ion-textarea
                placeholder="Write comment ..."
                #commentInput
              ></ion-textarea>
            </div>
            <ion-button
              (click)="commentPost(p, commentInput.value)"
              class="circle"
              fill="clear"
              ><ion-icon name="chatbox-ellipses-outline" size="small"></ion-icon
            ></ion-button>
          </div>
          <ion-list [inset]="true">
            <ion-item *ngFor="let c of p['comments']; let i = index">
              <ion-label>{{ c }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card-content>
    </ng-container>
  </ion-card>
</ion-content>
