<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <ion-title> Social App </ion-title>
      <div class="bar-btns-div">
        <ion-col class="feed-btn" id="noti-btn"
          ><ion-button id="click-trigger" class="circle" fill="clear"
            ><ion-icon
              name="notifications-outline"
              size="large"
            ></ion-icon></ion-button
          ><ion-badge class="notification-badge" color="danger">0</ion-badge>
          <ion-popover
            trigger="click-trigger"
            triggerAction="click"
            [dismissOnSelect]="true"
          >
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item>Notification 1</ion-item>
                  <ion-item>Notification 2</ion-item>
                  <ion-item>Notification 3</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
        <ion-col class="feed-btn"
          ><ion-button class="circle" fill="clear"
            ><ion-icon name="person-circle" size="large"></ion-icon></ion-button
        ></ion-col>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="post-input-box">
    <ion-card-header>
      <ion-card-title>New Post</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea placeholder="Write anything ..."></ion-textarea>
    </ion-card-content>

    <ion-button fill="clear">Post</ion-button>
  </ion-card>
  <ion-card #postsCard>
    <ion-card-header>
      <ion-card-title>New Feeds</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
    <ng-container *ngFor="let p of postsArr; let i = index">
      <ion-card-content class="card-container">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
              />
            </ion-thumbnail>
            <ion-label>User</ion-label>
          </ion-item>
          <ion-card-content> {{ p.post }} </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="feed-btn"
                ><ion-button
                  (click)="likePost(p.id)"
                  class="circle"
                  fill="clear"
                  ><ion-icon
                    name="thumbs-up-outline"
                    size="large"
                  ></ion-icon></ion-button
              ></ion-col>
              <ion-col class="feed-btn"
                ><ion-button
                  (click)="commentPost(p.id)"
                  class="circle"
                  fill="clear"
                  ><ion-icon
                    name="chatbox-ellipses-outline"
                    size="large"
                  ></ion-icon></ion-button
              ></ion-col>
              <ion-col class="feed-btn"
                ><ion-button
                  (click)="editPost(p.id)"
                  class="circle"
                  fill="clear"
                  ><ion-icon
                    name="create-outline"
                    size="large"
                  ></ion-icon></ion-button
              ></ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-card-content>
          <ion-label>Comment</ion-label>
          <ion-textarea placeholder="Write comment ..."></ion-textarea>
        </ion-card-content>
      </ion-card-content>
    </ng-container>
  </ion-card>
</ion-content>
