#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.circle {
  width: 60px;
  height: 60px;
  --border-radius: 50%;
}

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#noti-btn{
  position: relative;
}

.notification-badge{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:1rem;
  right:1.5rem;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.bar-btns-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-list{
  overflow-y: scroll;
}

.post-input-box{
  display: flex;
  flex-direction: column;
}

.post-input-box>ion-button{
  align-self: self-end;
  margin-bottom: 20px;
  margin-right: 20px;
}

.post-image{
  border-radius: 50%;
}

.feed-btns-container{
  margin-top: 20px;
}

.feed-btns-container .feed-btn{
  border: 1px solid #ccc;
}

.feed-btn{
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-container{
  border-bottom: 2px solid #ccc;
}

.comment-container{
  display: flex;
  justify-content: space-between;
}

